body {
   /* For showing gradient effects without blocked by html background */
    min-height: 400px;
    /* font: 18px/25px Helvetica, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei; */
    /* font: 18px/25px'Palatino', 'Palatino Linotype', 'Georgia', serif, Fangsong, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei; */
    margin: 0;
    padding: 0;
    color: #5C5C5C;
}

/*header*/
.header {
    position: fixed;
    z-index: 199;
    display: block;
}

.header {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    padding-top:15px;
    opacity: 1;
}

.header.transparent {
    background: transparent;
}

/* separator */
.separator {
    border-bottom: 1px dotted #ddd;
    font-size: 16px;
    color: #777;
    text-align: center;
}

.header.transparent .separator {
    background: transparent;
    opacity: 0;
}

/* container */
.container {
    margin: 0px auto;
    padding: 0;
}

.header .container {
    position: relative;
}

/* scroll top */
.scroll {
    position: absolute;
    z-index: 20;
    left: 0px;
}

/* brand banner */
.brand {
    position: absolute;
    left: 0px;
    z-index: 50;
    width: 35%;
    text-align: left;
}

/* dynamic header */
.dynamic .scroll,
.navigation {
    opacity: 1;
}
.scroll,
.dynamic .navigation {
    opacity: 0;
}
.scroll a,
.dynamic .navigation a {
    pointer-events: none;
    cursor: default;
}
.dynamic .scroll a {
    pointer-events: auto;
    cursor: pointer;
}

.dynamic .brand {
    left: 65%;
    text-align: right;
}

.separator,
nav,
.scroll,
.brand {
    line-height: 0;
    vertical-align: top;
}


.scroll,
nav,
.brand {
    transition: left 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s;
}

.dynamic .brand {
    left: 65%;
    text-align: right;
}

nav a,
.scroll a {
    color: #777;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

.scroll,
nav,
.brand {
    transition: left 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s;
}
.dynamic .scroll,
nav {
    opacity: 1;
}
.scroll,
.dynamic nav {
    opacity: 0;
}
.scroll a,
.dynamic nav a {
    pointer-events: none;
    cursor: default;
}


nav {
    position: absolute;
    right: 0px;
    z-index: 40;
}

.front a ,
.back a ,
.tags a ,
.archive a,
.pagination a,
.scroll a,
.social a,
nav a {
    text-decoration: none;
}

a.active,
h1 a:hover,
h2 a:hover,
h3 a:hover,
.pagination a:hover,
.archive a:hover,
.tags a:hover,
.tagcloud a:hover,
.index-tag a:hover,
nav a:hover,
.scroll a:hover,
.social a:hover
{
    background-color: #777;
    color: #FCFCFA;
}


/* footer */
.footer {
    border-top: 1px dotted #ddd;
    padding-top: 20px;
    margin-top:15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #777;
    text-align: center;
}
.footer a {
    color: #777;
}
.footer p {
    margin: 0;
    line-height: 40px;
}

.pull-left {
    float:left;
}
.pull-right {
    float:right;
}


.social a,
.pagination a,
.scroll a {
  display: inline-block;
}


.social a {
  font-size: 16px;
  line-height: 16px;
  padding: 15px 5px;
}
.social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}
.social ul li {
    display: inline;
    margin: 0 2px;
    padding: 0;
}

/* main content */

.body {
    clear: both;
    font-size: 1.1em;
}

/* index page entry-overview */
.entry-overview h1,
.entry-overview .summary,
.entry-overview .summary p {
    display: inline;
    line-height: 25px;
}
.entry-overview h1 {
    margin: 0;
    font-size: 20px;
}
.entry-overview .summary,
.entry-overview .date,
.entry-overview .summary small {
    margin: 0;
    padding: 0;
    color: #777;
}
.entry-overview .date {
    color: #777;
    font-style: italic;
    font-family: 'Noticia Text', serif;
}

.clearfix:before, .clearfix:after {
    display: table;
    clear: both;
    content: "";
}


/* anchors */

a {
    /*color: #432165;*/
    color: #4785CC;
}

a {
    font: 18px/25px 'Palatino', 'Palatino Linotype', 'Georgia', Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, serif;
}
/* a {text-decoration: none;} */

a:hover {
    color: #3b185f;
}
/* h1 a:hover, h2 a:hover, */

/* h3 a:hover, h4 a:hover      { color: #432165; text-decoration: underline; } */

a:focus,
a:active {
    outline: none;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}
h1 a,
h2 a,
h3 a,
.archive a,
.pagination a,
.tags a {
    line-height: 32px;
    padding: 3px;
}

/* index tag links */

.index-tag {
    font-size: 14px;
    color: #777;
}
.tagcloud a,
.index-tag a {
    /* color: #7AA0CC; */
    color: #777;
    padding: 3px;
    text-decoration: none;
}

a.active,
h1 a:hover,
h2 a:hover,
h3 a:hover,
.pagination a:hover,
.archive a:hover,
.tags a:hover,
.tagcloud a:hover,
.index-tag a:hover,
.navigation a:hover,
.scroll a:hover,
.social a:hover
{
    background-color: #777;
    color: #FCFCFA;
}

/* offseting anchor tag link */
:target:before {
    content:"";
    display:block;
    height:50px; /* fixed header height*/
    margin:-50px 0 0; /* negative fixed header height */
}

/* setting size according to screen */
@media (min-width: 0px) {

    .header .separator {
        padding-bottom: 21px;
        margin-bottom: 0px;
    }

    .scroll a, .brand a {
        font-size: 22px;
        line-height: 4px
    }

    .scroll a {
        padding: 18px 15px 13px 15px;
        margin-top:-15px;
    }

    .entry-overview {
        margin: 10px 0px 12px 0px;
        clear: left;
    }
    .entry-overview .separator {
        padding-bottom: 2px;
        margin-bottom: 2px;
    }
}

@media (min-width: 641px) {
    .container {
        width: 600px;
    }

    nav a {
        font-size: 22px;
        line-height: 22px;
        padding: 12px 8px 9px;
    }

    .body {
        padding-top: 50px;
    }

    .header .separator {
        padding-bottom: 35px;
        margin-bottom: 0px;
    }
    .separator {
        padding-bottom: 28px;
        margin-bottom: 28px;
    }

    .scroll, .brand {
        height: 36px;
    }

    .scroll a, .brand a {
        font-size: 28px;
        line-height: 17px
    }


    .entry-overview {
        margin: 25px 20px 25px 12px;
        clear: left;
    }
    .entry-overview .date {
        float: left;
        width: 100px;
        text-align: left;
        line-height: 33px
    }
    .entry-overview .detail {
        margin-left: 140px;
    }
    .entry-overview .index-tag {
      float:right;
    }
    .entry-overview .separator {
      display: none;
    }
}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    .container {
        width: 780px;
    }
}


/* Colors */
.navy {
color: #001F3F; }
.blue {
color: #0074D9; }
.aqua {
color: #7FDBFF; }
.teal {
color: #39CCCC; }
.olive {
color: #3D9970; }
.green {
color: #2ECC40; }
.lime {
color: #01FF70; }
.yellow {
color: #FFDC00; }
.orange {
color: #FF851B; }
.red {
color: #FF4136; }
.fuchsia {
color: #F012BE; }
.purple {
color: #B10DC9; }
.maroon {
color: #85144B; }
.white {
color: #fff; }
.silver {
color: #ddd; }
.gray {
color: #aaa; }
.black {
color: #111; }

a.green {
    color: #2ECC40;
}
a.green:hover  {
    color: #FCFCFA;
    background-color: #2ECC40;
}
a.blue {
    color: #0074D9;
}
a.blue:hover  {
    color: #FCFCFA;
    background-color: #0074D9;
}
a.red {
    color: #FF4136;
}
a.red:hover  {
    color: #FCFCFA;
    background-color: #FF4136;
}


