
/*header*/
.header {
    position: fixed;
    z-index: 199;
    display: block;
}

.header {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    padding-top:15px;
    opacity: 1;
}

/* container */
.container {
    margin: 0px auto;
    padding: 0;
}

.header .container {
    position: relative;
}

/* scroll top */
.scroll {
    position: absolute;
    z-index: 20;
    left: 0px;
}

/* brand banner */
.brand {
    position: absolute;
    left: 0px;
    z-index: 50;
    width: 35%;
    text-align: left;
}

.separator,
nav,
.scroll,
.brand {
    line-height: 0;
    vertical-align: top;
}


.scroll,
nav,
.brand {
    transition: left 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s;
}

.dynamic .brand {
    left: 65%;
    text-align: right;
}

nav a,
.scroll a {
    color: #777;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

.scroll,
nav,
.brand {
    transition: left 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s;
}
.dynamic .scroll,
nav {
    opacity: 1;
}
.scroll,
.dynamic nav {
    opacity: 0;
}
.scroll a,
.dynamic nav a {
    pointer-events: none;
    cursor: default;
}


nav {
    position: absolute;
    right: 0px;
    z-index: 40;
}

.front a ,
.back a ,
.tags a ,
.archive a,
.pagination a,
.scroll a,
.social a,
nav a {
    text-decoration: none;
}

a.active,
h1 a:hover,
h2 a:hover,
h3 a:hover,
.pagination a:hover,
.archive a:hover,
.tags a:hover,
.tagcloud a:hover,
.index-tag a:hover,
nav a:hover,
.scroll a:hover,
.social a:hover
{
    background-color: #777;
    color: #FCFCFA;
}


/* footer */
.footer {
    border-top: 1px dotted #ddd;
    padding-top: 20px;
    margin-top:15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #777;
    text-align: center;
}
.footer a {
    color: #777;
}
.footer p {
    margin: 0;
    line-height: 40px;
}

.pull-left {
    float:left;
}
.pull-right {
    float:right;
}


.social a,
.pagination a,
.scroll a {
  display: inline-block;
}


.social a {
  font-size: 16px;
  line-height: 16px;
  padding: 15px 5px;
}
.social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}
.social ul li {
    display: inline;
    margin: 0 2px;
    padding: 0;
}

/* setting size according to screen */

@media (min-width: 641px) {
    .container {
        width: 600px;
    }

    nav a {
        font-size: 22px;
        line-height: 22px;
        padding: 12px 8px 9px;
    }

}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    .container {
        width: 780px;
    }
}

